* {
    horiz-align: center;
}

body {
    background-size: auto;
}

.achtergrond {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/*header*/

header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    height: 60px;
    z-index: 7;
    text-align: center;
}

header img {
    position: fixed;
    top: 20px;
    left: 80px;
    width: 60px;
}

header nav {
    position: relative;
    margin-top: 10px;
    horiz-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5%;
}

header nav a:hover {
    transition: .5s;
    color: gray;
}

.responsive-under-500 {
    visibility: hidden;
}

/*DROPDOWN HEADER*/

/* Style the dropdown button */
.dropbtn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
    display: none;
    float: left;
    z-index: 1;
    position: fixed;
    top: 5px;
    left: 2px;
    background-color: gray;
    opacity: 70%;
    border: 1px solid black;
    padding: 1rem;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: lightgray;
    padding: 12px 10px;
    padding-left: 5px;
    text-decoration: none;
    display: inline-block;
    opacity: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: black;
}

/* Show the dropdown menu when the button is clicked */
.show {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn.active {
    background-color: #3e8e41;
}

/*Main*/

main {
    padding-top: 80px;
    z-index: 5;
}

.articlecenter {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}

.articlebox {
    transition: .5s;
    width: 27%;
    margin: 1%;
    margin-left: 2%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    text-align: center;
    color: black;
}

.card {
    border-radius: 1rem;
    padding: 0.75rem;
    margin: 1rem;
}

main article img {
    width: 90%;
    height: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.article-big-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-text-on-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    font-size: 20px;
}

article a {
    text-decoration: none;
    color: black;
    font-size: 50px;
}

article:hover a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

article p {
    text-decoration: none;
    color: black;
    font-size: 50px;
}

article:hover p {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

article:hover {
    transition: .5s;
    background-color: white;
    opacity: 60%;
}

article:hover img {
    transition: .5s;
    display: none;
}

article:hover .article-text-on-hover {
    visibility: visible;
}

article:hover .article-big-text {
    display: none;
}

.invisable {
    display: none;
}

/*Footer*/
footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    left: 0px;
    background-color: black;
    color: white;
    height: 35px;
}

footer a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1150px) {
    header img {
        display: none;
    }

    .articlecenter {
        display: block;
        justify-content: center;
        padding-bottom: 300px;
    }

    main {
        padding-bottom: 90px;
    }

    .articlebox img {
        width: 100%;
    }

    .articlebox {
        display: flex;
        float: left;
        margin-left: 3%;
        margin-bottom: 80px;
        width: 42%;
        margin-top: 20px;
        height: 380px;
    }

    .onzichtbaar {
        display: block;
        width: 20%;
    }
}

@media screen and (max-width: 888px) {
    main article img {
        height: 500px;
    }

    .articlebox {
        display: block;
        width: 99%;
        margin: auto;
        height: 500px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 653px) {
    .responsive-under-500 {
        visibility: visible;
        opacity: 100%;
    }

    .responsive-above-500 {
        visibility: hidden;
    }

    header{
        visibility: hidden;
    }

    .articlebox{
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }


    main{
        padding-top: 0px;

    }
}
