.achtergrond {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: black;
    color: white;
    height: 70px;
    z-index: 7;
    opacity: 50%;
}

header img {
    position: fixed;
    margin-top: 15px;
    margin-left: 8%;
    width: 80px;
}

header nav {
    position: relative;
    margin-top: 10px;
    horiz-align: center;
    text-align: center;
}

header nav a {
    transition: .5s;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
}

header nav a:hover {
    color: gray;
    transition: .5s;
}